/*Web Design and Client Side Scripting (HDSDEV_SEPBL_YR1)
Week 10 Lab Submission
Student: Maria Marlene Pereira / 22115234

Question 4
Create a preset array of numbers. Create a piece of code that chooses the largest number from that array */

body{
	background-color:rgb(60, 118, 156);
	font-size: medium;
	text-align: center;
	padding: 70px 0;
}
